.taskInput
    display: flex;
    flex-flow: row nowrap

    input[type=text]
        padding: .5em
        font-size: 14pt
        flex: 1 1 auto
        border: none

    button[type=submit]
        background: green
        color: white
        border: none
        border-radius: 3px
        width: 35px

    .textGroup
        display: flex
        flex: 1 1 auto
        background: white
        padding: 5px

