.taskViewer
    background: white
    width: 500px
    margin: 0 auto
    border: 1px solid #ddd
    padding: 1em

    p
        font-size: .75em

    h1
        margin: 0

    footer
        margin: 1em 0
        button
            color: steelblue